################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElsaServer/bin/Debug/net8.0
/ElsaServer/obj
/ElsaServer/elsa.sqlite.db
/ElsaStudio/obj
/ElsaStudio/bin/Debug/net7.0
/.vs
/ElsaServer/bin/Release/net8.0
/ElsaStudio/bin/Release/net7.0
/ElsaServer/Properties/PublishProfiles
